/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./src/**/*.{js,jsx,ts,tsx}",
  ],
  theme: {
    extend: {
      colors: {
        blue: {
          800: '#1E3A8A', // HJV primary blue
          900: '#152A60', // Darker blue
        },
        green: {
          700: '#047857', // Success green
          800: '#065F46', // Darker green
        }
      },
      fontFamily: {
        sans: ['Inter', 'sans-serif'],
      },
    },
  },
  plugins: [],
}