/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./src/**/*.{js,jsx,ts,tsx}",
  ],
  theme: {
    extend: {
      colors: {
        blue: {
          800: '#1E3A8A', // HJV primary blue
          900: '#152A60', // Darker blue
        },
        green: {
          700: '#047857', // Success green
          800: '#065F46', // Darker green
        },
        burgundy: {
          900: '#8D1B3D', // RGB: 141, 27, 61
          700: '#A52348',   // Lighter shade
          800: '#711531',    // Darker shade
        }
      },
      fontFamily: {
        sans: ['Inter', 'sans-serif'],
      },
    },
  },
  plugins: [],
}
